# Server Configuration
PORT=3001
NODE_ENV=development

# Security & Authentication
API_KEY=secret-key-week2
JWT_SECRET=super-secret-jwt-key-week2

# Application Details
APP_NAME=Week2-Node-Express-MultiStack-API
